<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <h1>Canezin</h1>
      </span>
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Pesquisar">
        <button mat-button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          Todas as categorias
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let menu of menuKeys(menuList)">

            <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ menu }}</button>

            <mat-menu #sub_menu="matMenu">
              <button mat-menu-item *ngFor="let subMenu of menuList[menu]">{{ subMenu }}</button>
            </mat-menu>
          </ng-container>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<!-- <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px" fxFlexOffset.xs="0">
  </div>
  
</div> -->
<div class="container-fluid content">

  <div class="row">

    <div class="col-lg-12 masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
                <h1 class="font-weight-light">Produtos com a qualidade certa</h1>
                <p class="lead">Confira nossos preços</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
    </div>
  </div>
</div>