.list-products {
  width: 100%;
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
}

.card-products {
  margin: 10px 15px;
}

.masthead {
  height: 90vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
