<div class="products">
  <mat-card *ngFor="let item of products" class="example-card card-products" fxFlex="30">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ item.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ item.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="mat-button btn-dark">Visualizar</button>
    </mat-card-actions>
  </mat-card>
</div>